.member-container{
  display: flex;
  justify-content:center ;
  gap: 20px;
  flex-wrap: wrap;
}

.memberCard{
  width: 150px;
  padding: 20px;
  background-color: orange;
  color: white;
}

.cityStyle{
  color: blue;
  font-weight: bold;
}