*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root{
  --border-color: #282c34;
  --main-bg-color: lightblue;
  --increment-btn-bg: lightgreen;
  --decrement-btn-bg: lightcoral;
}

.main-counter {
    background-color: var(--main-bg-color);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid var(--border-color);
}

.main-counter h1 {
  font-size: 4rem;
  color: var(--border-color);
}

.counter-controls {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100px;
  gap: 10px;
  border: 2px solid #282c34;
}

.increment-button { 
  background-color: var(--increment-btn-bg);
  border: 2px solid var(--border-color);
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.decrement-button {
  background-color: var(--decrement-btn-bg);
  border: 2px solid var(--border-color);
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
